@{
    ViewData["Title"] = "About";
}

<header id="mp-header" class="mp-cover mp-cover-sm" role="banner" style="background-image:url(/images/img_bg_1.jpg);">

    <div class="mp-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>About Us</h1>
                        <h2>Free html5 templates Made by <a href="http://gettemplates.co" target="_blank">gettemplates.co</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="mp-section">
    <div class="mp-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center mp-heading mp-heading-sm">
                <h2>Our History</h2>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione magni assumenda repellat atque modi temporibus tempore ex. Dolore facilis ex sunt ea praesentium expedita numquam?</p>
                <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci rem dolorem nesciunt perferendis quae amet deserunt eum labore quidem minima.</p>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione magni assumenda repellat atque modi temporibus tempore ex. Dolore facilis ex sunt ea praesentium expedita numquam?</p>
                <p><a href="#" class="btn btn-primary">Our Services</a></p>
            </div>
        </div>
    </div>
</div>

<div class="mp-cover mp-cover-sm" style="background-image:url(/images/img_bg_3.jpg);">
    <div class="overlay"></div>
    <div class="mp-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Keep it simple</h1>
                        <h2>Free html5 templates Made by <a href="http://gettemplates.co" target="_blank">gettemplates.co</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mp-team" class="mp-section">
    <div class="mp-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center mp-heading">
                <h2>Our Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animate-box" data-animate-effect="fadeIn">
                <div class="mp-staff">
                    <img src="/images/person_1.jpg" alt="Free HTML5 Templates by gettemplates.co">
                    <h3>Dylan DeAmaral</h3>
                    <strong class="role">Full Stack Developer</strong>
                    <p>Dylan is a software engineer who has various roles in MissedPet, and works to provide powerful services to enable thorough searching for missing pets. He works to make people happy, and reunite owners with their friends.</p>
                    <ul class="mp-social-icons">
                        <li><a href="https://twitter.com/ddeamaral"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://github.com/ddeamaral"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeIn">
                <div class="mp-staff">
                    <img src="/images/person_2.jpg" alt="Free HTML5 Templates by gettemplates.co">
                    <h3>Alvaro Oyola</h3>
                    <strong class="role">Full Stack Developer</strong>
                    <p>Alvaro is a software engineer who also works on various parts of MissedPet. He has over 3 years of software development experience.</p>
                    <ul class="mp-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                <div class="mp-staff">
                    <img src="images/person_3.jpg" alt="Free HTML5 Templates by gettemplates.co">
                    <h3>Alex King</h3>
                    <strong class="role">Back-end Developer</strong>
                    <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                    <ul class="mp-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>


<div id="mp-started">
    <div class="mp-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center mp-heading">
                <h2>Get Started</h2>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button type="submit" class="btn btn-default btn-block">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
